.login {
  display: grid;
  place-items: center;
  background: black;
  height: 100vh;
}

.login img {
  width: 100%;
  background: black;
  max-width: 30%;
  min-width: 300px;
}

.login a {
  border-radius: 99px;
  padding: 20px;
  background-color: #1db954;
  font-weight: 800;
  color: white;
  text-decoration: none;
}
